@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

#__next,
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ol,
ul,
dl {
  margin-bottom: 0 !important;
}

.Component-horizontalScrollContainer-26 {
  height: calc(100% - 117px);
}

.fc-timegrid-slot-label-cushion {
  font-size: 0.875rem;
}

.fc-v-event {
  background: #6366f1 !important;
  border-color: #6366f1 !important;
}

.fc-non-business {
  background: #d1d1d163 !important;
}

.fc-col-header-cell,
.fc-timegrid-axis {
  background: white;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 10px;
  background-clip: padding-box;
  border: 0;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.body-bg {
  background-color: #9921e8;
  background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
}

.leftMessageListShadow {
  box-shadow: 2px 1px 11px 0px #91919133;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  transform: skew(-0.1deg);
  margin: 0 !important;
}

.timelineItem {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-left: 30px;
  &:last-child::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 1px;
    content: '';
    background-color: #fff;
  }
  &::before {
    position: absolute;
    top: 35px;
    bottom: 0;
    left: -18px;
    display: block;
    width: 1px;
    content: '';
    background-color: #808495;
  }
  .timelineItem-badge {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    text-indent: -1px;
    background-color: #808495;
    border: 1px solid #808495;
    margin-left: -30px;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    color: #fff;
    padding: 5px 3px 4px 4px;
    font-size: 14px;
    line-height: 12px;
    &:hover {
      cursor: default;
    }
  }
}

.barcodeContainer {
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 100%;
  background: #000000c7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.spacer {
  margin-top: 6rem;
}

/* barcode container */
.anim-box {
  position: relative;
  width: 20rem;
  height: 10rem;
  padding: 30px 30px;
  transition: transform 0.6s ease-out;
  transform: scale(1.5);
}

/* adds the 4 corners */
.anim-box:before,
.anim-box:after,
.anim-box > :first-child:before,
.anim-box > :first-child:after {
  position: absolute;
  width: 10%;
  height: 15%;
  border-color: white;
  border-style: solid;
  content: ' ';
}

/* top left corner */
.anim-box:before {
  top: 0;
  left: 0;
  border-width: 2px 0 0 2px;
}

/* top right corner */
.anim-box:after {
  top: 0;
  right: 0;
  border-width: 2px 2px 0 0;
}

/* bottom right corner */
.anim-box > :first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 2px 2px 0;
}

/* bottom left corner */
.anim-box > :first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 2px 2px;
}

/* barcode bars */
.anim-item {
  display: inline-block;
  background-color: white;
  height: 100px;
}

.anim-item-sm {
  width: 0.2rem;
  margin-right: 0.4em;
}

.anim-item-md {
  width: 1rem;
  margin-right: 0.8em;
  &:last-child {
    margin-right: 0;
  }
}

.anim-item-lg {
  width: 5px;
  margin-right: 5px;
}

/* animated laser beam */
.scanner {
  width: 100%;
  height: 3px;
  background-color: red;
  opacity: 0.7;
  position: relative;
  box-shadow: 0px 0px 8px 10px rgba(170, 11, 23, 0.49);
  top: 50%;
  animation-name: scan;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes scan {
  0% {
    box-shadow: 0px 0px 8px 10px rgba(170, 11, 23, 0.49);
    top: 50%;
  }
  25% {
    box-shadow: 0px 6px 8px 10px rgba(170, 11, 23, 0.49);
    top: 5px;
  }
  75% {
    box-shadow: 0px -6px 8px 10px rgba(170, 11, 23, 0.49);
    top: 98%;
  }
}

.listTable {
  thead {
    th {
      padding: 16px;
      text-align: left;
      border-bottom: 1px solid #e0e0e0;
      background: white;
    }
  }
  tbody {
    td {
      padding: 16px;
      text-align: left;
      border-bottom: 1px solid #e0e0e0;
    }
  }
}

.keep-all {
  word-break: keep-all;
}

.signupPopup {
  max-width: 32rem;
  background: white;
  margin: 2.5rem auto;
  padding: 2rem;
}

.signupPopup[data-signUp='true'] {
  position: fixed;
  z-index: 50;
  // transform: translateX(-50%) !important;
  top: 0;
  // left: 50%;
  margin: 0;
  padding: 0;
  max-width: none;
  border-radius: 0;
  width: 50%;
  min-width: 600px;
  height: 100%;
}
